
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  
}
label{
  font-size: 12px;
}


h1{
  font-size: 30px;
  color: #203d49;
}

h2{
  font-size: 20px;
  color: #203d49;
}

h3{
  font-size: 17px;
  color: #203d49;
}

h4{
  font-size: 14px;
  font-weight: 400;
  color: #203d49;
}


h5{
  font-size: 13px;
  font-weight: 400;
  color: #203d49;
}


h6{
  font-size: 11px;
  font-weight: 400;
  color: #203d49;
}

p{
  font-size: 11px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 13px;
}